* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: orange;
}

section {
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}
main{
  display: flex;
  justify-content: center
}

body{
  background-color: black;
}

#section-1 {
  display: flex;
  order: 1;
  flex-grow: 0;
}

#section-2 {
  display: flex;
  order: 2;
  flex-grow: 1;  
}

#section-3 {
  display: flex;
  order: 3;
  flex-grow: 2;  
}

#section-4 {  
  display: flex;
  order: 4;
  flex-grow: 2;  
}

#section-5 {
  display: flex;
  order: 0;
  flex-grow: 0;  
}